.wrapper {
    width: 100%;
    /* background-color: var(--gray); */
    /* background-color: var(--black); */
    position: relative;
}

.large {
    height: 50rem;
}

.medium {
    height: 40rem;
}

.small {
    height: 30rem;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
}