.wrapper {
    padding: 0;
    max-height: 3rem;
}

input[type=file].wrapper::file-selector-button {
    border: thin solid var(--menu-bg);
    border-radius: .5rem;
    box-shadow: none;
    background-color: var(--menu-bg);
    padding: .5rem 1rem;
    height: 3rem;
    transition: color 500ms linear 10ms, background-color 500ms linear 10ms;
    color: var(--white);
    min-width: 15rem;
}

input[type=file].wrapper:hover::file-selector-button {
    transition: color 500ms linear 10ms, background-color 500ms linear 10ms;
    background-color: var(--white);
    color: var(--menu-bg);
}

input[type=search].wrapper {
    border: thin solid var(--blue-very-light);
    padding: .5rem 1rem;
    max-width: 20rem;
    border-radius: .2rem;
}

.wrapper.field:not([type=file], [type=search]) {
    transition: background-color 500ms linear 50ms;
    border: none;
    background-color: var(--gray-very-light);
    padding: .5rem 1rem;
    min-width: 2rem;
    width: auto;
}

.wrapper.field:not([type=file], [type=search]):focus {
    background-color: transparent;
    transition: background-color 500ms linear 50ms;
}

.wrapper.pad-0 {
    padding: 0rem;
}