.wrapper {
    position:relative;
    height: auto;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 2rem;
}
.wrapper > table {
    position:relative;
    border-collapse: collapse;
    height: 100%;
}
.wrapper td, .wrapper th {
    border: thin solid #acbeda;
    vertical-align: top;
    width: 15rem;
    max-width: 15rem;
    min-width: 15rem;
    height: 100%;
}
.wrapper td:not(:global([class^=pad-])) {
    padding: .7rem;
}
.wrapper td:global(.pad-0) input {
    border: 0;
}

.wrapper td input {
    height: 100%;
    width: 100%;
    position: relative;
    padding: .7rem
}