.menu {
    height: auto;
    background-color: rgba(150,20,20,.75);
    width: 100%;
    color: white;
    overflow: hidden;
    padding: 1rem;
    transition: background-color 300ms linear;
    position: sticky;
    top: 0;
    z-index: 1040;
}

.menu:hover {
    background-color: rgba(0, 0, 0, .75);
    transition: background-color 300ms linear;
}

.menu a {
    color: rgba(255, 255, 255, .55);
    padding: .4rem 1.2rem;
    text-decoration: none;
    border-left-width: thin;
    border-left-style: solid;
    border-left-color: rgba(255, 255, 255, 0);
    transition: border-left-color 500ms linear 10ms, color 500ms linear 10ms;
}
.menu:hover a {
    color: rgba(255, 255, 255, 1);
    transition: border-left-color 500ms linear 10ms, color 500ms linear 10ms;
}

.menu:hover a:not(:first-child) {
    border-left-color: rgba(255, 255, 255, .55);
}

.menu:global(.auto-hide) {
    margin-top: -2rem;
    animation: hidemenu 3300ms linear 0ms;
    transition: margin-top 300ms linear, background-color 300ms linear;
}

.menu:global(.auto-hide):hover {
    margin-top: 0rem;
    transition: margin-top 300ms linear, background-color 300ms linear;
}

.menu:hover > a {
    font-size: initial;
}

.menu:hover > :global(.active) {
    color: var(--gray-very-light);
    border-bottom-color: var(--gray-very-light);
    border-bottom-width: .1rem;
}

.menu > :global(.active)  {
    cursor: default;
    pointer-events: none;
    color: white;
    text-shadow: 2px 2px .3rem var(--black);
}

@keyframes hidemenu {
    0% {
        margin-top: 0rem;
    }
    90% {
        margin-top: 0rem;
    }
    100% {
        margin-top: -2rem;
    }
}