html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-family: Helvetica, Verdana, sans-serif, Arial;
  letter-spacing: .1rem;
}

input,
textarea,
select,
option,
td {
  font-family: 'Courier New', Georgia, 'Times New Roman';
}

h1, h2, h3, h4, [role="heading"] {
  font-family: 'Copperplate Gothic', 'Century Gothic', Cendara, Helvetica;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

[class^="col-"] {
  display: grid;
}
.col-12 {
  grid-template-columns: repeat(12, minmax(calc((100% / 12) * 12), 1fr));
}
.col-11 {
  grid-template-columns: repeat(11, minmax(calc((100% / 12) * 11), 1fr));
}
.col-10 {
  grid-template-columns: repeat(10, minmax(calc((100% / 12) * 10), 1fr));
}
.col-9 {
  grid-template-columns: repeat(9, minmax(calc((100% / 12) * 9), 1fr));
}
.col-8 {
  grid-template-columns: repeat(8, minmax(calc((100% / 12) * 8), 1fr));
}
.col-7 {
  grid-template-columns: repeat(7, minmax(calc((100% / 12) * 7), 1fr));
}
.col-6 {
  grid-template-columns: repeat(6, minmax(calc((100% / 12) * 6), 1fr));
}
.col-5 {
  grid-template-columns: repeat(5, minmax(calc((100% / 12) * 5), 1fr));
}
.col-4 {
  grid-template-columns: repeat(4, minmax(calc((100% / 12) * 4), 1fr));
}
.col-3 {
  grid-template-columns: repeat(3, minmax(calc((100% / 12) * 3), 1fr));
}
.col-2 {
  grid-template-columns: repeat(2, minmax(calc((100% / 12) * 2), 1fr));
}
.col-1 {
  grid-template-columns: repeat(1, minmax(calc((100% / 12) * 1), 1fr));
}
