.wrapper {
    border: thin solid var(--menu-bg);
    border-radius: .5rem;
    box-shadow: none;
    background-color: var(--menu-bg);
    padding: .5rem 1rem;
    height: 3rem;
    transition: color 500ms linear 10ms, background-color 500ms linear 10ms;
    color: var(--white);
    min-width: 15rem;
}

.wrapper:not([disabled]):hover {
    transition: color 500ms linear 10ms, background-color 500ms linear 10ms;
    background-color: var(--white);
    color: var(--menu-bg);
}

.wrapper[disabled] {
    background-color: var(--gray);
    border-color: var(--gray);
}