.wrapper {
    border-radius: .5rem;
    box-shadow: none;
    height: 3rem;
    transition: color 500ms linear 10ms, background-color 500ms linear 10ms;
}

.wrapper:not(.icon) {
    padding: .5rem 1rem;
    color: var(--white);
    background-color: var(--menu-bg);
    border: thin solid var(--menu-bg);
}

.wrapper:not(.icon, .modal) {
    min-width: 15rem;
}

.wrapper.icon {
    width: 3rem;
    padding: 0rem;
    color: var(--blue);
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.wrapper:not([disabled]):not(.icon):hover {
    transition: color 500ms linear 10ms, background-color 500ms linear 10ms;
    background-color: var(--white);
    color: var(--menu-bg);
}

.wrapper.icon:hover {
    transition: color 500ms linear 10ms, background-color 500ms linear 10ms;
    background-color: var(--gray-light);
}

.wrapper[disabled] {
    background-color: var(--gray);
    border-color: var(--gray);
}
