.notifier {
    position: relative;
    padding: 0rem 2rem;
    border: thin solid currentColor;
    border-radius: .5rem;
    animation: loadin 500ms linear 10ms forwards;
    transition: padding 500ms linear 10ms, opacity 500ms ease-in-out 20ms;
    overflow: hidden;
    height: 0;
    opacity: 0;
}

.notifier:after {
    content: '';
    display: block;
    position: absolute;
    height: 0rem;
    width: 0rem;
    border-top: .5rem solid var(--menu-bg);
    border-right: .5rem solid var(--menu-bg);
    border-bottom: .5rem solid rgba(0,0,0,0);
    border-left: .5rem solid rgba(0,0,0,0);
    animation: fadein 500ms ease-in-out 500ms forwards;
    transform: rotate(45deg);
    top: 2.5rem;
    left: .5rem;
    opacity: 0;
}

@keyframes loadin {
    0% {
        height: 0rem;
        padding: 0rem 3rem;
        opacity: 0;
    }
    99% {
        height: 5.5rem;
        padding: 2rem 3rem;
        opacity: 1;
    }
    100% {
        height: auto;
        padding: 2rem 3rem;
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}